<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
  <display-name>MihaelasCakeShoppe</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
  
  <!--	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin Part</web-resource-name>
			<url-pattern>/ProductsServlet</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Admin Part</web-resource-name>
			<url-pattern>/WEB-INF/cakeFactory.jsp</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Admin Part</web-resource-name>
			<url-pattern>/WEB-INF/editCake.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/login-error.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<error-page>
		<location>/WEB-INF/unauthorized.jsp</location>
	</error-page> -->
</web-app>
